[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
psutil = "*"
paho-mqtt = "*"
django = "*"
smbus2 = "*"
bme280 = "*"

[requires]
python_version = "3.6"

[scripts]
test="python3 test.py"
